h1{
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

h2{
    font-size: 120%;
}

p{
    font-size: 110%;
    line-height: 180%;
}

table{
    margin: 0 auto;
}

td{
    font-size: 105%;
    line-height: 150%;
}

th{
    font-size: 115%;
    font-weight: bold;
    text-align: center;
}

.mj_tb{
    width: 400px;
    height: 320px;
}